<div class="main">
     <nav>
        <div class="nav-wrapper blue-grey darken-4">
          <a href="#" class="brand-logo">AirPlanner</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#new-plan">New Route</a></li>
            <li><a href="#weather">Weather</a></li>
            <li><a href="#airports">Airports</a></li>
            <li><%= link_to "Log out", destroy_user_session_path,:method=>"delete"%></li>
          </ul>
        </div>
      </nav>
  </div>

  <div id="actions">
    <div ng-view></div>
  </div>
  <div id="map"></div>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi__6svk5rapTW5bKx4mOTMN1r8PDIoTU&callback=initMap"></script>
