<h5 class="action-title">Plan New Route</h5>
<div class="container">
  <label class="plan-label"> Name your route:</label>
  <input type="text" placeholder="Route name" ng-model="routeName">

  <p>  Use the map to select locations you have in mind  </p>
<!-- <p>{{coordinates}}</p> -->
  <div ng-repeat="c in coordinates">
    <label>Lat: </label><span class="lat">{{c.lat}}</span>
    <label>Lng: </label><span>{{c.lng}}</span>
  </div>
</div>

<a class="waves-effect waves-light btn save_route" ng-show="save_flag" ng-click="saveRoute();">Save Route</a>
<h3 ng-show="success_save"> New Route Saved Successfully </h3>
