
<div class="container">
 <h5 class="action-title">Plan New Route</h5>
  <label class="plan-label"> Name your route:</label>
  <input type="text" placeholder="eg: LA to NY" ng-model="routeName">
  <p>  Use the map to select locations you have in mind  </p>
</div>
<!-- <p>{{coordinates}}</p> -->
<div class="container plan">
  <table class="coordinates-table responsive-table">
    <tr>
     <th> <i class="material-icons">room</i></th><th> Lat </th><th> Lng </th><th> Distance </th>
    </tr>
    <tbody>
     <tr ng-repeat="c in coordinates">
        <td><span>{{labels[$index]}}</span></td><td><span>{{c.lat}}</span></td><td><span>{{c.lng}}</span></td><td>{{distances[$index]}} m</td>
        <td><a href=""  ng-click="removeNode($index);" style="color:#fff;">X</a></td>
     </tr>
    </tbody>
  </table>
</div>
<div ng-show="save_flag" class="container">
    <hr>
    <span> Total: </span> <span>{{totalDistance}} m</span>
  <div>
    <span> Speed:</soan>
    <input type="number" id="speed_input" placeholder="Testing Speed" ng-model="speed"> <span> Time:{{travelTime}} </span>
    <a class="waves-effect waves-light btn  blue-grey darken-3 plan_time"  ng-click="calcSpeed();"> Calculate travel time</a> <br>
  </div>
</div>
<div style="text-align:center;">
  <a class="waves-effect waves-light btn  blue-grey darken-3 plan_button" ng-show="save_flag" ng-click="saveRoute();">Save Route</a>
  <a href="" class="waves-effect waves-light btn plan_button"  ng-click="clearMarkerAndPoly(null,'actions');">Clear Table</a>
  <a class="waves-effect waves-light btn plan_button" ng-click="refreshMap();"> Reset Map </a>
</div>
<h5 ng-show="success_save"> New Route Saved Successfully </h5>
