
<h5 class="action-title">Plan New Route</h5>
<div class="container plan">
  <label class="plan-label"> Name your route:</label>
  <input type="text" placeholder="Route name" ng-model="routeName">

  <p>  Use the map to select locations you have in mind  </p>
<!-- <p>{{coordinates}}</p> -->
<ol>
  <div ng-repeat="c in coordinates">
  <li><div><label>Lat: </label><span class="lat">{{c.lat}}</span> <label>Lng: </label><span>{{c.lng}}</span></li></idv>
  </div>
</ol>
</div>

<a class="waves-effect waves-light btn save_route" ng-show="save_flag" ng-click="saveRoute();">Save Route</a>
<h3 ng-show="success_save"> New Route Saved Successfully </h3>
