html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
.wrapper{
  background:url('/assets/landing.jpg') no-repeat;
  background-size:cover;
  height:100vh;
  margin:0px;
  padding:0px;
}
h1 {margin:0px;}
a.signup{
   margin:10px;
   float:right;
   font-size: 20px;
   color:#fff;
   padding: 5px 10px;
   background: rgba(0, 0, 102,0.5);
   border-radius: 3px;
}

/*.title{
  font-family:ideal sans-serif;
  text-align: center;
  padding:200px;
  color:#fff;
  font-size: 80px;
}*/
.logo{

  display: block;
  margin:0 auto;
  padding:150px;

}
.options {
 margin: 0 auto;
 width:500px;
 padding:0px;
 text-align: center;
}

#map {
  height:92vh;
  width:65%;
  float:right;
}

#actions{
  height:92vh;
  width: 35%;
  float:left;
  background:grey;
  overflow: scroll;
}

.login-landing-page{
  width:200px;
  font-size: 20px;
  background: #000066;
  margin-top: 150px;
}

.action-title{
  color:#fff;
  text-align: center;
  margin-bottom:50px;
}

.plan-label{
  color:#fff;
}

.pad { padding-right: 400px;}

.save_route{
  display: block;
  margin:0 auto;
  position: absolute;
  bottom:20px;
  left:160px;
}

.warning{
  color:#b71c1c ;
}
